h1{
    font-size: 50px;
}
.text-highlight{
    color:orange;

}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
.second{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left:2%;
}
.second img{
width:100%;
}
.bg-image{
 
    background-image: url("images/top-banner.png");
}
section{
    height:500px;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight:bold;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
}
h2{
    font-size:40px;
}
p{
    color:dimgray;
}
.bg-img2{
    background-image: url("images/dream-bg.png") ;
    background-repeat: no-repeat;
    background-position: right ;
}
.boxshadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:80%;
    background-color: white;
}
.bg-img3{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#gradientborder{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(187, 4, 243),rgb(248, 7, 7));
    border-image-slice: 1;
    
}
#gradientborder2{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg,rgb(23, 36, 209),rgb(160, 255, 71));
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
    color:red;
    font-size:10px;

}